PORT=5000
MONGODB_URI=mongodb+srv://riyagargofficial_db_user:Traceback123@cluster0.sqyqmzo.mongodb.net/traceback?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=tracebacksecret12345
JWT_EXPIRE=30d
NODE_ENV=development
CLIENT_URL=http://localhost:5173
